<!doctype html>
<html>
  <head>
    <title>Watch Highlights</title>
    <style>
      #banner {
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 20%;
        font-size: 64px;
        border: 2px solid black;
      }
      #theater {
        width: 500;
      }
      #nav {
        width: 20%;
        float: left;
        display: inline;
        margin-right: "10px";
        border: 2px solid blue;
      }
      details details summary {
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <div id="banner">
      <li><a>WATCH HIGHLIGHTS</a></li>
    </div>
    <div id="nav">
      <details class="accordion">
        <summary class="accordion-title">MW 1</summary>

        <details class="accordion">
          <summary class="accordion-title">Friday August 15</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=stjx4DyerYA"
                >Liverpool v Bournemouth</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Saturday August 16</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=GehWRyTGh1A"
                >Aston Villa v Newcastle United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=yL-OZIv5cIY"
                >Brighton and Hove Albion v Fulham</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=5q7BFFgDO5Y"
                >Sunderland v West Ham United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=-TosqMocXkg"
                >Tottenham Hotspur v Burnley</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=2cF8Xf4Dw_c"
                >Wolverhampton Wanderers v Manchester City</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday August 17</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=MP7EKYVlbhY"
                >Nottingham Forest v Brentford</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=cBnWLZJ_U4M"
                >Chelsea v Crystal Palace</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=ZS-_XPWhVsk"
                >Manchester United v Arsenal</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Monday August 18</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=qEWD8YPgZHI"
                >Leeds United v Everton</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 2</summary>

        <details class="accordion">
          <summary class="accordion-title">Friday August 22</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=bnpVPd__dX0"
                >West Ham United v Chelsea</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Saturday August 23</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=ztWCPu8f5-Q"
                >Manchester City v Tottenham Hotspur</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=NKVc3FQb1bk"
                >Bournemouth v Wolverhampton Wanderers</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=rRbjY2AEuK0"
                >Brentford v Aston Villa</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=stmzdpiqrqw"
                >Burnley v Sunderland</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=4qsThU91p1Y"
                >Arsenal v Leeds United</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday August 24</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=n_QZGJ7ko9A"
                >Crystal Palace v Nottingham Forest</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=Zh1bJNYTUP0"
                >Everton v Brighton and Hove Albion</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=ofidoqnSq7I"
                >Fulham v Manchester United</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Monday August 25</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=prTKN7aX1D0"
                >Newcastle United v Liverpool</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 3</summary>

        <details class="accordion">
          <summary class="accordion-title">Saturday August 30</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=O4rhCNZJArA"
                >Chelsea v Fulham</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=ipc7nQxzlf4"
                >Manchester United v Burnley</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=q-Qk1_oJ1dA"
                >Sunderland v Brentford</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=oBsdJyhGV_E"
                >Tottenham Hotspur v Bournemouth</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=Y72CPMlVrBU"
                >Wolverhampton Wanderers v Everton</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=prU7KC-YI-s"
                >Leeds United v Newcastle United</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday August 31</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=mfwSPQ7FoQ4"
                >Brighton and Hove Albion v Manchester City</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=MDvSmcBbUyg"
                >Nottingham Forest v West Ham United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=ucNQuhxZGKc"
                >Liverpool v Arsenal</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=ATjKG-g5dhM"
                >Aston Villa v Crystal Palace</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 4</summary>

        <details class="accordion">
          <summary class="accordion-title">Saturday September 13</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=_FlNChdUAog"
                >Arsenal v Nottingham Forest</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=EPrDQfCCNzU"
                >Bournemouth v Brighton and Hove Albion</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=UKE353hpRh8"
                >Crystal Palace v Sunderland</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=gXyFe7jcufE"
                >Everton v Aston Villa</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=2fhOR0dhqn4"
                >Fulham v Leeds United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=kh-nT0dz8iU"
                >Newcastle United v Wolverhampton Wanderers</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=DKEQxZ54Q3I"
                >West Ham United v Tottenham Hotspur</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=Udt0HQgUey4"
                >Brentford v Chelsea</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday September 14</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=Q7BGqmI3xVc"
                >Burnley v Liverpool</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=f0KDAXNZtFM"
                >Manchester City v Manchester United</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 5</summary>

        <details class="accordion">
          <summary class="accordion-title">Saturday September 20</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=HwE4iTg8byU"
                >Liverpool v Everton</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=YXLUImwc9Ss"
                >Brighton and Hove Albion v Tottenham Hotspur</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=pm711lpzYv8"
                >Burnley v Nottingham Forest</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=_OJbt0DqaiA"
                >West Ham United v Crystal Palace</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=lmpdup325t4"
                >Wolverhampton Wanderers v Leeds United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=moxFxisZFGI"
                >Manchester United v Chelsea</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=Hu5CRpfiJzk"
                >Fulham v Brentford</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday September 21</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=VmCCCOZVnYs"
                >Bournemouth v Newcastle United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=pIpEIUUys9A"
                >Sunderland v Aston Villa</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=v4Efnnwwri4"
                >Arsenal v Manchester City</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 6</summary>

        <details class="accordion">
          <summary class="accordion-title">Saturday September 27</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=gesOyuiupLs"
                >Brentford v Manchester United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=Umc5cAk0iH0"
                >Chelsea v Brighton and Hove Albion</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=4IKbo_RY0Rk"
                >Crystal Palace v Liverpool</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=ggpJHCCTmuA"
                >Leeds United v Bournemouth</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=utAqojdNDfw"
                >Manchester City v Burnley</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=VADd5e9_dmg"
                >Nottingham Forest v Sunderland</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=DmYBDPspnQE"
                >Tottenham Hotspur v Wolverhampton Wanderers</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday September 28</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=J20VFAMs6d0"
                >Aston Villa v Fulham</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=dWwVfEcPP24"
                >Newcastle United v Arsenal</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Monday September 29</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=jfLJ4iJjU5w"
                >Everton v West Ham United</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 7</summary>

        <details class="accordion">
          <summary class="accordion-title">Friday October 03</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=df0gNV8cFQI"
                >Bournemouth v Fulham</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Saturday October 04</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=zkq1wmjgxQM"
                >Leeds United v Tottenham Hotspur</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=qk6Oo_SMgt4"
                >Arsenal v West Ham United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=_KW8i87KgTM"
                >Manchester United v Sunderland</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=Gbz3J8ud0VY"
                >Chelsea v Liverpool</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday October 05</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=Lly2qAW8Xmk"
                >Aston Villa v Burnley</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=rZu7-ksWPqA"
                >Everton v Crystal Palace</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=CrZz841wRsM"
                >Newcastle United v Nottingham Forest</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=lJyq7vh4YxY"
                >Wolverhampton Wanderers v Brighton and Hove Albion</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=2EjuPNlC9QM"
                >Brentford v Manchester City</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 8</summary>

        <details class="accordion">
          <summary class="accordion-title">Saturday October 18</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=c1x0IAx4ra8"
                >Nottingham Forest v Chelsea</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=MqX4CPjhOQk"
                >Brighton and Hove Albion v Newcastle United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=eMnkRc1g4Ic"
                >Burnley v Leeds United</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=5Dm3zj7cUGQ"
                >Crystal Palace v Bournemouth</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=pZY6dqB2Lsk"
                >Manchester City v Everton</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=rKR40Q5r2R4"
                >Sunderland v Wolverhampton Wanderers</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=f-PgbZKhprY"
                >Fulham v Arsenal</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday October 19</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=IlL8VSrIMU0"
                >Tottenham Hotspur v Aston Villa</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=cWgBs2I51_w"
                >Liverpool v Manchester United</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Monday October 20</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=QievrZsZ2-U"
                >West Ham United v Brentford</a
              >
            </li>
          </ul>
        </details>
      </details>

      <details class="accordion">
        <summary class="accordion-title">MW 9</summary>

        <details class="accordion">
          <summary class="accordion-title">Friday October 24</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=LYlblhaVzGQ"
                >Leeds United v West Ham United</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Saturday October 25</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=V2YMpu_Oweg"
                >Chelsea v Sunderland</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=8wwTJGuBRSQ"
                >Newcastle United v Fulham</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=TlvG8hjBZQw"
                >Manchester United v Brighton and Hove Albion</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=mpbTMjtCnCI"
                >Brentford v Liverpool</a
              >
            </li>
          </ul>
        </details>

        <details class="accordion">
          <summary class="accordion-title">Sunday October 26</summary>
          <ul class="accordion-content">
            <li>
              <a href="https://www.youtube.com/watch?v=Doa0YqMHD1E"
                >Bournemouth v Nottingham Forest</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=w-VZ-60jFb8"
                >Arsenal v Crystal Palace</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=xZeyE0PZ0yw"
                >Aston Villa v Manchester City</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=k4owu8y8dY4"
                >Wolverhampton Wanderers v Burnley</a
              >
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=iD8CM8PWkTk"
                >Everton v Tottenham Hotspur</a
              >
            </li>
          </ul>
        </details>
      </details>
    </div>
    <div id="theater">
      <p>HEREHEREHEREaaaaaaaaaaaa!!!!!!</p>
      <iframe
        id="video"
        width="560"
        height="315"
        src=""
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <script>
      const links = document.querySelectorAll("#nav a");
      const iframe = document.getElementById("video");

      links.forEach((link) => {
        link.addEventListener("click", (e) => {
          e.preventDefault();
          const url = link.getAttribute("href");
          const parts = url.split("v=");
		console.log(parts);
          const videoId = parts[parts.length - 1];
          iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1`;
        });
      });
    </script>
  </body>
</html>
